[ca]
x509_extensions = ca_extensions # x509v3 Uzantılar eklenebilecek bir formattır ve bu uzantıları ayarladığımız ayar bölümünün adını yazarız

[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
 
[req_distinguished_name]
countryName = TR
countryName_default = TR
stateOrProvinceName = Istanbul
stateOrProvinceName_default = Istanbul
localityName = Tuzla
localityName_default = Tuzla

# ister uzun adiyla (organizationName) ister kisa adiyla (O) diyerek girebiliriz
O          = Sertifika Isteyen Sirketin Adi
O_default  = Yeni E-Ticaret Sitemiz A.S.

# organizationalUnitName === OU 
# Ancak asagidaki sekilde bir kisa bir uzun adiyla veri giremeyiz
# 
#   organizationName = Sertifika Isteyen Sirketin Adi
#   O_default        = Yeni E-Ticaret Sitemiz A.S.
# 
organizationalUnitName = Sirket Icinde Sertifika Isteyen Bolumun Adi
organizationalUnitName_default = E-Ticaret Gelistirme Bolumu

commonName = Sertifikanin gecerli oldugu alan adi
commonName_default = *.hersey1lira.com
commonName_max = 64
 
[ v3_req ]
# Extensions to add to a certificate request
# Sart degil ama dogru tanimlamak icin kendinden imzali olacagi ve sunucu tarafinda kullanilacagi icin CA:FALSE
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
 
[alt_names]
DNS.1 = *.hersey1lira.com
DNS.2 = forum.hersey1lira.com
DNS.3 = localhost
IP.1 = 127.0.0.1
IP.2 = 192.168.56.1

####################################################################
[ ca_extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
# https://www.openssl.org/docs/man1.0.2/man5/x509v3_config.html
# Bu, bir sertifikanın CA sertifikası olup olmadığını gösteren çok değerli bir uzantıdır.
basicConstraints       = critical, CA:false
keyUsage               = keyCertSign, cRLSign